@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Fira Code';
  src: url('../../public/fonts/FiraCode/woff2/FiraCode-VF.woff2');
}

:root {
  --foreground: #ededed;
  --background: #0a0a0a;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Fira Code', Helvetica, sans-serif;
  height: 100vh;
}

.header-height {
  @apply h-14;
}

.header-padding-x {
  @apply px-4;
}

.container-padding-x {
  @apply px-4;
}
